-#  Copyright (c) 2008-2016, Puzzle ITC GmbH. This file is part of
-#  Cryptopus and licensed under the Affero General Public License version 3 or later.
-#  See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/cryptopus.

= form_for(team, role: 'form') do |f|
  = f.error_messages
  .form-group
    = f.label :name
    = f.text_field :name, autofocus: true, class: 'form-control'
  .checkbox
    = labeled_check_box(f, :private, team.new_record?)
    = image_tag('info.svg', class: 'info_icon private_info')
    %p.description.private
      = t('teams.description.private')
  .form-group
    = f.label :description
    = f.text_area :description, class: 'form-control'
  -if current_user.api_is_activated?
    .form-group
      -if team_has_permisson_for_api?
        = check_box_tag('api', value=nil, checked=true)
      -else
        = check_box_tag('api', value='api')
      = label_tag 'api', 'Api Access'
  = f.submit @submit_button_text, class: 'btn btn-primary'
  =link_to "Cancel", teams_path, {:class=>"btn btn-primary"}
